.app-header {
  /* color: black; */
  grid-area: h;
  /* height: 10vh; */
  /* padding: 15px; */
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr 6fr;
  margin-inline-start: 20px;
}
.app-header img {
  width: 70%;
  margin-inline-start: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .app-header {
    /* grid-template-columns: 1fr; */
    grid-template-columns: 1fr 3fr 7fr;
    margin-inline-start: 0;
    justify-items: center;
  }
  .app-header img {
    width: 80%;
  }
}
