.email-preview {
    background: #f2f6fc;
    background-repeat: no-repeat;
    /* box-shadow: 0 0 11px #0000002b; */
    padding: 10px;
    /*display: flex;
    flex-direction: column;
    overflow: hidden; */
    border-radius: 2px;
    margin: 5px;
    cursor: pointer;
    display: grid;
    /* width: 95%; */
    grid-template-columns: auto auto;
    /* border: 1px solid black; */
}

.email-preview .info {
    padding: 10px;
    flex-grow: 1;
}

.email-preview button{
    width: 2vw;
    align-self: center;
    justify-self: end;
}

.email-preview .actions a {
    color: white;
}

.email-preview:hover .actions {
    transform: translateY(0);
}