.email-index {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "h h"
    "s l"
    "s l";
  background-color: #f7f8fc;
}
.email-index.is-collapse {
  grid-template-columns: auto 6fr;
}

@media only screen and (max-width: 768px) {
  .email-index {
    /* For mobile phones: */
    grid-template-columns: 1fr;
    /* grid-template-areas:
      "h h"
      "l l"
      "l l"; */
  }
}
