.email-filter {
  display: flex;
  flex-wrap: wrap;
  margin-block: 20px;
  gap: 20px;
}

.email-filter > section {
  display: flex;
  flex-direction: column;
}

.email-filter > section:last-of-type {
  justify-content: end;
}

.email-filter .search-form-input {
  border-radius: 24px;
  border: none;
  box-sizing: border-box;
  min-height: 42px;
  background-color: #eaf1fb;
  padding-inline-start: 18px;
}
.email-filter input {
  border: none;
  outline: none;
  background: none;
  flex: 1;
  font-size: 16px;
  color: #202124;
  width: 300px;
  margin-block-start: 10px;
}
.email-filter .click {
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .email-filter input {
    width: auto;
  }
}
