.email-list {
  list-style-type: none;
  margin-inline: 20px;
  /* width: 95%; */
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 0;
  /* margin-block: 0; */
  /* height: 35rem; */
  /* overflow-x: scroll; */
}

.email-list .email-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 25%;
  padding: 10px;
  background-color: #000000c9;
  transition: transform 0.2s;
}
.email-list ul {
  list-style-type: none;
  padding: 0;
  overflow-y: scroll;
  height: 30rem;
}

@media only screen and (max-width: 768px) {
  .email-list ul {
    height: 82vh;
  }
}
